<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="keywords" content="ffrvnco, dj, techno, ebm, dark, darkwave, obscure, eternity, magic fairy dreams, unknow fears, soundcloud, rave">
	<title>Página About de FFRVNCO</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/destino.css">
</head>
<body>
<div class="about">
<div id="header">
<!--encabezado-->
  <header>
    <div class="header__animacion">
	 <h1 class="header__titulo">ABOUT</h1>
   </div>
	</header>
<!--encabezado-->
<!--menú-->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
           <a class="navbar-brand" href="#"></a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
              </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                     <li class="nav-item">
                       <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
                     </li>
                      <li class="nav-item">
                       <a class="nav-link" href="./galeria.html">GALERIA</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./videos.html">VIDEOS</a>
                       </li>
                       <li class="nav-item">
                        <a class="nav-link" href="./about.html">ABOUT</a>
                      </li>
                       <li class="nav-item">
                         <a class="nav-link" href="./contacto.html">CONTACTO</a>
                       </li>
                  </ul>
                 </div>
        </div>
      </nav>
</div>
<!--menú-->
<!--sección-->
<div id="seccion">
  <div class="seccion__contenido">
    <video src="../video/rave.mp4" autoplay loop width="100%" height="100%" muted></video>
  </div>
<div class="seccion__animacion">
  <p class="parrafo">go to bed and sleep for twelve hours
a life that wasn't mine anymore
they greet me with cries of hate
the gentle indifference of the world
the smart object is the first.</p>
</div>

</div>
<!--sección-->
<!--pie de página-->
<div id="footer">
  <div class="about__footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="text-muted">© 2021 FFRVNCO</span>
      </div>
    </footer>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</div>
</body>
<!--pie de página-->
</html>